<div>
    <h3>Please login in:</h3>

<form method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input name="username" id="username" type="text"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="password" id="password" type="text"/></td>
        </tr>
        <tr>
            <td colspan="2"><button id="rbmlogin">Let's Go!</button></td>
        </tr>
    </table>
    <p>
    <div style="position:relative; width:100%">
        <div style="float: left"><a href="#" id="register">Register a new account</a></div>
        <div style="float: right;"><a href="#" id="forgot">Forgot Password</a></div>
    </div>
    </p>

</form>
</div>