div.overdiv {

    filter: alpha(opacity=75);
    -moz-opacity: .75;
    opacity: .75;
    background-color: #c0c0c0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; height: 100%;
}

div.horizon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: visible;
    display: block;
}

div.content {
    font-family: Verdana, Geneva, Arial, sans-serif;
    background-color: #c8e5bc;
    border: #f9f9f9;
    margin-left: -225px;
    position: absolute;
    top: -125px;
    left: 50%;

    width: 450px;
    height: 250px;

    visibility: visible;

    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
}

div.bodytext {
    font-size: 14px;
    padding: 15px;
}

a.boxclose{
    float:right;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.boxclose:before {
    content: "×";
}